.list {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    margin: 0 auto;
    padding-top: 50px;
   

}

.item {
    width: 200px;
}
.img {
    border-radius: 10px;
    box-shadow: 35px 30px 86px 8px rgba(49, 196, 222, 0.63);
}